transformers>=4.34.0
lightning>=2.1.0
pytorch-lightning>=2.1.0
torch>=2.1.0
torchmetrics>=1.2.0
rich>=10.14
datasets>=2.14.0
scipy>=1.7.3
sentencepiece
matplotlib
protobuf==3.20.3
tensorboardx>=2.5.1
numba>=0.56.4
blingfire>=0.1.8
nltk>=3.8.1
boto3
sentence-transformers>=2.2.2
bitsandbytes>=0.41.1
accelerate>=0.23.0
deepspeed>=0.11.1
bleurt-pytorch @ git+https://github.com/lucadiliello/bleurt-pytorch.git@279ca1bb4106bde5a89f0f82723197e23d8446cb
